* {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

html, body {
   background-color: #242424;
}

header {
   background-color: #4D41C0;
   color: #fff;
}

a, a:hover {
   color: unset;
   text-decoration: none;
}