* {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

:root {
   --bg-dark: #181818;
   --color-primary: #4D41C0;
   --white-letter: #fff;
   --bg-card: #242424;
}

h1, h2, h3, h4 {
   margin: 0;
}

nav h1{
   font-size: 40px;
   font-weight: 500;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav a {
   font-size: 20px;
   font-weight: 200;
}

nav div img {
   width: 45px;
   padding-right: 10px;
}

nav div {
   display: flex;
   align-items: center;
}

html, body {
   background-color: var(--bg-dark);
}

header {
   background-color: var(--color-primary);
   color: var(--white-letter);
   height: 65px;
   display: flex;
   align-items: center;
   position: fixed;
   right: 0;
   left: 0;
}

a, a:hover {
   color: unset;
   text-decoration: none;
}

.dsmovie-card {
   width: 100%;
   background-color: var(--bg-card);
   border-radius: 10px;
}

.dsmovie-card img {
   width: 100%;
   border-radius: 10px 10px 0 0;
}

#dsmovie-card-list {
   padding: 110px 0;
}

.dsmovie-card-description {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 10px 30px 20px 30px;
   min-height: 150px;
   text-align: center;
}

.dsmovie-card-description h3 {
   color: var(--white-letter);
   margin-bottom: 30px;
   font-weight: 400;
}

.dsmovie-btn {
   color: var(--white-letter);
   background-color: var(--color-primary);
   width: 170px;
   height: 45px;
   font-size: 20px;
   font-weight: 500;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.dsmovie-btn:hover {
   color: var(--white-letter);
   transform: scale(1.04, 1.09);
   cursor: pointer;
   border: 1px solid black;
}

.dsmovie-form-container {
   padding: 110px 0;
   width: 55rem;
}